html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0a0a23;
}
/* to ensure span elements with class="sr-only" is visualy hidden 
    set the visible portion of an element using 'clip' property
 */
span[class~="sr-only"] {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);
    -webkit-clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    margin: -1px;
    padding: 0;
}

h1 {
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5 1.25rem;
}

h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

h1 .flex span:first-of-type {
    font-size: 0.7em;
}

h1 .flex span:last-of-type {
    font-size: 1.2em;
}

/*wrap up the table in asection element */
section {
    max-width: 40rem;  /*for responsive design */
    margin: 0 auto;
    border: 2px solid #d0d0d5;
}


/*
 enable flexbox for years selector
 justify content to the end of flex direction
 and make the element sticky
 fit it to the top of the contaner with 'top: 0;'
*/
#years {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    color: #fff;
    background-color: #0a0a23;
}
